<span id="about"></span>
<section>
  <h1>¡Bienvenid@!</h1>
  <div #descriptionElement class="description" >
    <p>Mi nombre es Brayan Triana, Desarrollador Full Stack y Técnico en soporte nivel 2.</p>
    <!-- *ngIf="showDescription" -->
    <p >
      Soy desarrollador web y un estudiante apasionado del mundo de la tecnología.
      Me destaco por mi capacidad para aprender rápidamente, enfrentar nuevos desafíos y colaborar efectivamente en equipos. <br>
      Enfocado y centrado en la resolución de problemas y la mejora continua, estoy emocionado por seguir creciendo como desarrollador y contribuir al éxito de proyectos desafiantes.
    </p>
  </div>

  <div class="buttons" >
    <button class="button-contact" (click)="toggleDescription()">Más</button>
    <button onclick="window.location.href='#contact'" class="button-contact">Contacto</button>
  </div>
</section>
<div  class="aside" >
  <div class="astronauta">
    <img src="../../../assets/images/general/Astronautra.png" alt="Logo de Astronauta" loading="lazy">
    <div class="networks">
      <a href="https://github.com/Brayanl0-o" target="_blank">
        <img src="../../../assets/images/skills-icons/GitHub-removebg-preview.png"  alt="Logo de GitHub" loading="lazy">
      </a>
      <a href="https://www.linkedin.com/in/brayan-triana-608b71282/" target="_blank">
        <img src="../../../assets/images/skills-icons/md_5af2b7ab5f4c1-removebg-preview.png"  alt="Logo de Linked" loading="lazy">
      </a>
    </div>
  </div>
</div>
