#about{
  position: relative;
  top: 8%;
}
body{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about{
  padding: 10px;
  width: 40%;
  animation-delay: 1.5;
  margin: 5% 0 15% 0;
}
.about p{
  color: #e4e4e4fb;
  font-size: calc(1em + 0.5vw);
}
.about>h1 {
  color: #070861fb;
  font-size: calc(2em + 2vw);
}
.button-contact {
  border: none;
  cursor: pointer;
  width: min-content;
  transition: transform 1.5s;
  background-color: #292a2c;
  color: white;
  margin-top: 1.5rem;
  padding: 10px;
  font-size: calc(1em + 0.6vw);
  border-radius: 10px;
}
.button-contact:hover {
  background-image: url(../../../assets/images/general/galax.webp);
  transform: scale(1.2);
}
/* Astrounaut */
.astronauta {
  position: relative;
  right: 0%;
}
.astronauta>img {
  width: 100%;
  width: 600px;
  height: 400px;
}
.networks {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  bottom: 2%;
  width: 100%;
  z-index: 10;
}
.networks>a>img {
  transition: transform 1.5s;
  width:150px;
  height:150px;
}
.networks>a:hover>img {
  transform: scale(1.1);
  transition: transform 1.8s;
}
@keyframes aparicion{
  0%{opacity:0; transform:scale(0.2) ;}
  50%{opacity:0.5;}
  100%{opacity:1;transform:scale(1)}
}
/* Media querys */
@media (max-width: 1268px) {
  .about>h1{
    text-align: center;
  }
}
@media (max-width: 1068px) {
  .about {
    width: 70%;
    margin: 10% 0 0% 0;
  }
  .astronauta {
    margin-bottom: 10%;
  }
}
@media (max-width: 888px) {
  .about {
    width: 80%;
  }
  .astronauta>img {
    width: 100%;
    width:600px;
    height:400px;
  }
  .networks>a>img {
    transition: transform 1.5s;
    width:100px;
    height:100px;
  }
}
@media(max-width: 580px) {
  .about {
    margin: 25% 0 0% 0;
  }
  .astronauta>img {
    width: 100%;
    width:450px;
    height:350px;
    margin: auto;
  }
  .networks>a>img {
    transition: transform 1.5s;
    width:80px;
    height:80px;
  }
}
@media(max-width: 425px) {
  .about {
    margin: 30% 0 0% 0;
  }
  .astronauta>img {
    width:300px;
    height:200px;
  }
  .networks > a > img {
    width:70px;
    height:70px;
  }
}
