#about{
  position: relative;
  font-size: largers;
  top: 8%;
  width: 100%;
}
section {
  margin-top: 10%;
  margin-left: 15%;
  height: min-content;
  min-height:min-content ;
  width: 50%;
  animation-name:  aparicion;
  animation-duration: 3s;
  animation-delay: 1.5;
  animation-fill-mode: forwards;
}

section p{
  color: #e4e4e4fb;
  font-size: 1.5rem;
  margin-top: 10px;
}

section>h1 {
  color: #070861fb;
  font-size: 5rem;
}

.description {
  color: aliceblue;
  font-size: 1.1rem;
  transition: all 5s ease;
}

.buttons{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.buttons>button:nth-child(1){
  display: none;
}

.button-contact {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #292a2c;
  color: white;
  border: none;
  cursor: pointer;
  width: min-content;
  transition: transform 1.5s;
}

.button-contact:hover {
  background-image: url(../../../assets/images/general/galax.jpeg);
  transform: scale(1.2);
}

/* Astrounaut */
.aside {
  position: absolute;
  right: 10%;
  bottom: 5%;
  /* background-color: rgba(236, 123, 123, 0.884); */
  z-index: 0;
  animation-name:  aparicion;
  animation-duration: 4s;
  animation-delay: 1.5;
  animation-fill-mode: forwards;
}

.astronauta {
  position: relative;
}

.networks {
  position: absolute;
  width: 100%;
  /* background-color: #292a2c2a; */
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  bottom: 10%;
}

.networks > a > img {
  transition: transform 1.5s;
}

.networks > a:hover > img {
  transform: scale(1.1);
  transition: transform 1.8s;
}
@keyframes aparicion{
  0%{opacity:0; transform:scale(0.2) ;}
  50%{opacity:0.5;}
  100%{opacity:1;transform:scale(1)}
}

/* Media querys */
@media (max-width: 1444px) {
  section {
    margin-top: 15%;
    /* margin-bottom: 15%; */
    /* height: 40vh; */
    width: 50%;
  }
}
@media (max-width: 1440px) {
  section {
    margin-top: 15%;
    margin-bottom: 5%;
    /* height: 20vh; */
    width: 70%;
  }
  section h1 {
    font-size: 3rem;
  }
  section p {
    font-size: 1.3em;
  }
}
@media (max-width: 888px) {
  section {
    margin-top: 25%;
    margin-bottom: 10%;
    /* height: 30vh; */
    width: 70%;
  }
  section h1 {
    font-size: 3rem;
  }
  section p {
    font-size: 1.3em;
  }
}
@media(max-width: 500px) {
  section {
    margin: auto;
    margin-top: 30%;
    height: auto;
    width: 80%;
  }
  section h1 {
    font-size: 2.5rem;
  }
  section p {
    font-size: 1em;
  }
}


