<section id="about">
  <p>¡Hola!</p>
  <h1>Soy Brayan Triana</h1>
  <p>Desarrollador Full Stack</p>

  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Provident deleniti voluptatibus nemo,
      accusantium veniam voluptate quod illum officiis quae itaque sapiente doloribus quasi! Dignissimos
      quaerat temporibus, alias voluptatum incidunt veniam?</p>
  </div>

  <div class=" buttons" style="display: flex;flex-flow: column wrap;">
    <a href=" #contact"><button class="button-contact">More</button></a>
    <a href=" #contact"><button class="button-contact">Contacto</button></a>
  </div>
</section>

<div class="try">
  <img class="astro" src="../../../assets/images/general/Ca33eG3UsAAHkGa-removebg-preview.png" alt="">
  <img class="aguje" src="../../../assets/images/general/Tidal_Disruption_4k-removebg-preview.png" alt="">
  <div class="networks">
    <a href="https://github.com/Brayanl0-o">
      <img src="../../../assets/images/Skills-icons/GitHub-removebg-preview.png" alt="GitHub"></a>
    <a href="https://www.linkedin.com/in/brayan-triana-608b71282/"> <img
        src="../../../assets/images/Skills-icons/md_5af2b7ab5f4c1-removebg-preview.png" alt="Linked"></a>
  </div>
</div>