#contact{
  position: relative;
  font-size: largers;
  top: 5%;
  width: 100%;
}
footer {
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 5%;
}
footer>h4 {
  text-align: center;
  margin-top: 5%;
  font-size: calc(2.5em + 2.5vw);
  color: #8888a5;
  margin-bottom: 5%;
}
footer>ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  width: fit-content;
  margin: auto;
  padding: 0px;
  gap: 10%;
}
footer>ul>li{
  width: fit-content;
  cursor: pointer;
  border-radius: 100px;
  background-color: #8888a527;
  padding: 0;
}
footer>ul>li>img,
footer>ul>li>a>img{
  width:150px;
  height: 120px;
  padding: 0px;
}
/* Media querys */
@media(max-width: 1650px) {
  footer>ul{
    flex-flow:column;
  }
  footer>ul>li{
    margin-bottom: 50%;
  }
  footer>ul>li:nth-child(1){
    margin-top: 20%;
  }
}
@media(max-width: 450px) {
  footer>h4 {
    margin-top: 20%;
    margin-bottom: 25%;
  }
}
