<footer id="contact">
  <form action="get">
    <h4>Contacto</h4>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Nombre del remitente" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" placeholder="ejemplo@gmail.com" required>
    <label for="message">Mensaje y razón de contacto:</label>
    <textarea name="message" id="message" cols="6" rows="7" placeholder="Mensaje" required></textarea>
    <button type="button" class="button-contact-send">Enviar</button>
  </form>
</footer>
