<span id="contact"></span>
<footer>
  <h4>Contacto</h4>
  <ul>
    <li><a href="https://wa.me/573227235454?text=Hola,%20estoy%20interesado%20en%20contactarte" target="_blank"><img src="../../../assets/images/contact-icons/whatssap_logo.png"  alt="Whatssap"></a></li>
    <li (click)="toggleContactForm()"> <img src="../../../assets/images/contact-icons/email_logo.png" alt="Enviar email"></li>
    <li><a  target="_blank" href="https://drive.google.com/file/d/1OUIha4Pe5CiD677qKiEdO_zN4EcdNO7H/view?usp=sharing"><img src="../../../assets/images/contact-icons/cv_logo.png"alt="Hoja de vida"></a>
  </li>

  </ul>

  <form action="get" *ngIf="showContactForm">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Nombre del remitente" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" placeholder="ejemplo@gmail.com" required>
    <label for="message">Mensaje y razón de contacto:</label>
    <textarea name="message" id="message" cols="6" rows="7" placeholder="Mensaje" required></textarea>
    <button type="button" class="button-contact-send">Enviar</button>
  </form>

</footer>
<!-- <ul class="options-cv" >
  <li *ngIf="showOptionsCV"><a  target="_blank" href="https://drive.google.com/file/d/1OUIha4Pe5CiD677qKiEdO_zN4EcdNO7H/view?usp=sharing"><img src="../../../assets/images/contact-icons/ojo.png" width="100px" height="70px"  alt="Ver Hoja de vida"></a> </li>
  <li *ngIf="showOptionsCV"><a  target="_blank" href="https://www.dropbox.com/scl/fi/tugm44u0dror08jpe85yz/HojaDeVida.pdf?rlkey=3nyqch73ehf6lywthogr27tv4&dl=0"><img src="../../../assets/images/contact-icons/descargar_icon.png" width="100px" height="70px" alt="Descargar Hoja de vida"></a></li>
</ul> -->
