<footer id="contact">
  <form action="get">
    <h1>Contacto</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Nombre del remitente" required>
    <label for="email">Email:</label>
    <input type="email" name="Email" placeholder="example@gmail.com" required>
    <label for="message">Mensaje y razón de contacto:</label>
    <textarea name="message" id="" cols="6" rows="7" placeholder="Message" required></textarea>
    <button type="button" class="button-contact-send">Enviar</button>
  </form>
</footer>