<section class="form-contact" >
  <h4>Formulario de Contacto</h4>
  <span (click)="closeModal()" class="close material-symbols-outlined">
    close
  </span>
  <span  (click)="toggleShowDetails()" class="info-form-contact material-symbols-outlined">
    help
  </span>
  <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank">
    <div class="details-form-contact" *ngIf="showDetailsProject">
      <div class="content-info">
        <p>API: <a href="https://github.com/Brayanl0-o/email_API" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
        <p> Formulario conectado a una API hecha en node-express <br>
          para el manejo y envio del formulario a mi correo. </p>
      </div>
    </div>
  </a>
  <form [formGroup]="contactForm" (ngSubmit)="sendForm()" >
    <div class="labels-form" >
      <label for="sendersName">Nombre:</label>

      <div class="input-alert">
        <input type="text" id="sendersName" name="sendersName" formControlName="sendersName" placeholder="Nombre del remitente" required>
        <div *ngIf="contactForm.controls['sendersName'].invalid && (contactForm.controls['sendersName'].dirty || contactForm.controls['sendersName'].touched)">
          <div *ngIf="contactForm.controls['sendersName'].errors?.['required']" class="alert" (mouseout)="toggleAlertState('sendersName')">
             <mat-icon (mouseover)="toggleAlertState('sendersName')"  class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['sendersName']">Este campo es requerido.</span>
          </div>
          <div *ngIf="contactForm.controls['sendersName'].errors?.['minlength']" class="alert" (mouseout)="toggleAlertState('sendersName')">
             <mat-icon (mouseover)="toggleAlertState('sendersName')"  class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['sendersName']">Minimo 4 caracteres.</span>
          </div>
          <div *ngIf="contactForm.controls['sendersName'].errors?.['maxlength']" class="alert" (mouseout)="toggleAlertState('sendersName')">
              <mat-icon (mouseover)="toggleAlertState('sendersName')"  class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['sendersName']">Superó el limite de caracteres permitidos(80). </span>
          </div>
          <div *ngIf="contactForm.controls['sendersName'].errors?.['pattern']" class="alert" (mouseout)="toggleAlertState('sendersName')">
            <mat-icon (mouseover)="toggleAlertState('sendersName')"  class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['sendersName']">No se admiten caracteres especiales. </span>
          </div>
        </div>
      </div>
    </div>

    <div class="labels-form">
      <label for="emailAddress">Email:</label>

      <div class="input-alert">
        <input type="email" id="emailAddress" name="emailAddress" formControlName="emailAddress" placeholder="ejemplo@gmail.com" required>
        <div *ngIf="contactForm.controls['emailAddress'].invalid && (contactForm.controls['emailAddress'].dirty || contactForm.controls['emailAddress'].touched)">
          <div *ngIf="contactForm.controls['emailAddress'].errors?.['required']" class="alert" (mouseout)="toggleAlertState('emailAddress')">
            <mat-icon (mouseover)="toggleAlertState('emailAddress')" class="material-symbols-outlined" > warning </mat-icon><span *ngIf="alertStates['emailAddress']">Este campo es requerido.</span>
          </div>
          <div *ngIf="contactForm.controls['emailAddress'].errors?.['minlength']" class="alert" (mouseout)="toggleAlertState('emailAddress')">
            <mat-icon (mouseover)="toggleAlertState('emailAddress')" class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['emailAddress']">Minimo 8 caracteres.</span>
          </div>
          <div *ngIf="contactForm.controls['emailAddress'].errors?.['maxlength']" class="alert" (mouseout)="toggleAlertState('emailAddress')">
            <mat-icon (mouseover)="toggleAlertState('emailAddress')" class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['emailAddress']">Superó el limite de caracteres permitidos(90).</span>
          </div>
          <div *ngIf="contactForm.controls['emailAddress'].errors?.['pattern']" class="alert" (mouseout)="toggleAlertState('emailAddress')">
            <mat-icon (mouseover)="toggleAlertState('emailAddress')" class="material-symbols-outlined"> warning </mat-icon><span *ngIf="alertStates['emailAddress']">Este campo solo permite correos.</span>
          </div>
        </div>
      </div>
    </div>

    <label for="message">Mensaje y razón de contacto:</label>
    <textarea name="message" formControlName="message" id="message" cols="6" rows="7" placeholder="Mensaje" required></textarea>
    <div *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
      <div *ngIf="contactForm.controls['message'].errors?.['required']" class="alert-message">
        Este campo es requerido. <mat-icon class="material-symbols-outlined" > warning </mat-icon>
      </div>
      <div *ngIf="contactForm.controls['message'].errors?.['minlength']" class="alert-message">
        Minimo 8 caracteres. <mat-icon class="material-symbols-outlined"> warning </mat-icon>
      </div>
      <div *ngIf="contactForm.controls['message'].errors?.['maxlength']" class="alert-message">
        Superó el limite de caracteres permitidos(600). <mat-icon class="material-symbols-outlined"> warning </mat-icon>
      </div>
      <div *ngIf="contactForm.controls['message'].errors?.['pattern']" class="alert-message">
        No se admiten caracteres especiales. <mat-icon class="material-symbols-outlined"> warning </mat-icon>
      </div>
    </div>

    <button type="submit" class="button-contact-send" [disabled]="isLoading">
      <div>
        <span *ngIf="!isLoading" aria-label="Botón de Iniciar sesión">
          <span class="send material-symbols-outlined">
            send
          </span>
        </span>
      </div>
      <div class="text-left" *ngIf="isLoading">
        <div role="status" class="cont-circle">
          <svg aria-hidden="true" class="circle" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50.000 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.8130 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.8410C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.0830 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor" />
          </svg>
        </div>
      </div>
    </button>
    <div *ngIf="errorResponseMessageForm" class="alert-end">
      <div>{{ errorResponseMessageForm.split('\n')[0] }}</div>
      <div>{{ errorResponseMessageForm.split('\n')[1] }}</div>
      <mat-icon class="material-symbols-outlined"> warning </mat-icon>
    </div>
  </form>

</section>


