<header>
  <!-- Nav big screens -->
  <nav class="elemento-flotante">
    <ul>
      <li><a href="#about">Sobre mí</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li class="logo">
        <a href="#about">
          <img src="../../../assets/images/general/5-removebg-preview-removebg-preview.webp"
            style="width: 3rem; margin: auto;" alt="Logo main">
        </a>
      </li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>

</header>
<!-- Nav small screens -->
<div class="container-wraper" >
  <div>
    <input type="checkbox" id="active"  />
    <label (click)="showNav()" for="active" class="menu-btn">
      <i></i>
    </label>
    <div class="wrapper" *ngIf="showNavSmall" >
      <ul  >
        <li><a href="#about"  (click)="showNav()"  >Sobre mí</a></li>
        <li><a href="#projects" (click)="showNav()" >Proyectos</a></li>
        <li><a href="#skills" (click)="closeNav()" >Habilidades</a></li>
        <li><a href="#contact" (click)="closeNav()">Contacto</a></li>
      </ul>
    </div>
  </div>
</div>



