.section{
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  /* padding-bottom: 10%; */
  height: 100vh;

}
.section>h3 {
  font-size: 3rem;
  text-align: center;
  color:#bdc3c7;
  margin: 0;
}
.container-projects{
  background-color: red;
}
.container-projects>ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.container-projects>ul>li{
  position: relative;
  background-color: blue;
  width: 400px;
  height: 250px;
  /* width: auto;
  height: auto; */
  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/images/slider-images/referencesAllin/AllinHome.webp');
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.container-projects>ul>a>li:nth-child(1){
  background-image: url('../../../assets/images/slider-images/referencesAllin/AllinHome.webp');
}
.container-projects>ul>li:nth-child(2){
  background-image: url('../../../assets/images/slider-images/referencesForoPacto/login.webp');
}
.container-projects>ul>li:nth-child(3){
  background-image: url('../../../assets/images/slider-images/referencesBooksHaven/BooksHavenHome.webp');
}
.container-projects>ul>li:nth-child(4){
  background-image: url('../../../assets/images/slider-images/winnerComputers.webp');
}
.container-projects>ul>li:nth-child(5){
  background-image: url('../../../assets/images/slider-images/deezerCopy.webp');
}
.info-projects{
  position: absolute;
  right:8px;
  top:1%;
  border-radius: 50px;
  background-color: rgba(90, 92, 90, 0.815);
  mix-blend-mode:difference;
  color: rgba(181, 199, 24, 0.911);
  /* writing-mode: horizontal-tb; */
  font-size: 2rem;
  cursor: pointer;
}
.details-projects{
  background-color: rgba(71, 69, 69, 0.911);
  color: white;
  position: absolute;
  right: 40px;
  top:4%;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.content-info>span{
  font-size: calc(1em + 1vw);
}
.repos{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  font-size: calc(0.6em + 1vw);
}
.repost>p:first-child{
  border-right: 10px solid white;
}
.content-info>p{
  font-size: calc(0.6em + 1vw);
  flex-flow: column;
  padding: 0;
  margin:0px;

}
.content-info>p>span{
  color: rgba(20, 20, 233, 0.904);
  font-weight: 900;
}


@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
