<span id="projects"></span>

<div class="section" >
  <h3 [@aparicion-titles-projects]="state_projects">Proyectos</h3>

  <div class="container" [@aparicion-images-projects]="state_projects">
    <div class="slider-height-padding">
      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
      <label for="slide-1"></label>
      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
      <label for="slider-2"></label>
      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
      <label for="slider-3"></label>
      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
      <label for="slider-4"></label>
      <input class="checkbox five" type="radio" name="slider" id="slider-5"/>
      <label for="slider-5"></label>
      <ul>
        <li>
          <span  (click)="toggleShowDetails($event)" class="info material-symbols-outlined">
            help
          </span>
          <a href="https://allin-six.vercel.app/home" target="_blank">
            <span class="name-project">AllIn</span>
            <div class="details" *ngIf="showDetailsProject">
              <div class="content-info">
                <p>Frontend: <a href="https://github.com/Brayanl0-o/AllInSite_Angular/tree/main" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
                <p>Backend:<a href="https://github.com/Brayanl0-o/AllInSite_API" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
                <p>Año de desarrollo:<span class="date">2023-2024</span> </p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <span  (click)="toggleShowDetails($event)" class="info material-symbols-outlined">
            help
          </span>
          <a href="https://github.com/programateacademy/c9-pacto-front" target="_blank">
            <span class="name-project">Foro Pacto de Productividad</span>
            <div class="details" *ngIf="showDetailsProject">
              <div class="content-info">
                <p>Frontend: <a href="https://github.com/programateacademy/c9-pacto-front" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
                <p>Backend:<a href="https://github.com/programateacademy/c9-pacto-backend" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
                <p>Año de desarrollo:<span class="date">2023</span> </p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <span  (click)="toggleShowDetails($event)" class="info material-symbols-outlined">
            help
          </span>
          <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank">
            <span class="name-project">Book's Haven</span>
            <div class="details" *ngIf="showDetailsProject">
              <div class="content-info">
                <p>Frontend: <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
                <p>Backend:<a href="https://github.com/Brayanl0-o/books_Haven" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
                <p>Año de desarrollo:<span class="date">2023-2024</span> </p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <span  (click)="toggleShowDetails($event)" class="info material-symbols-outlined">
            help
          </span>
          <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank">
            <span class="name-project">Winner Computers</span>
            <div class="details" *ngIf="showDetailsProject">
              <div class="content-info">
                <p>Frontend: <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
                <p>Backend:<a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
                <p>Año de desarrollo:<span class="date">2019</span> </p>
              </div>
            </div>
          </a>
        </li>
        <li>
           <span  (click)="toggleShowDetails($event)" class="info material-symbols-outlined">
            help
          </span>
          <a href="https://copy-deezer.netlify.app" target="_blank">
            <span class="name-project">Deezer Copy</span>
            <div class="details" *ngIf="showDetailsProject">
              <div class="content-info">
                <p>Frontend: <a href="https://github.com/Brayanl0-o/deezerCopy" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
                <p>Backend:<a href="No tiene." target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
                <p>Año de desarrollo:<span class="date">2023</span> </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <section id="projects">


<a href="https://front.codes/" class="logo hover-target" target="_blank">
  <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
</a> -->
<!-- <div class="plane"><img src="../../../assets/images/general/avion2-removebg-preview.png" alt="planeImgBackground"></div> -->
