<span id="projects"></span>

<div class="section" >
  <h3>Proyectos</h3>

  <div class="container-projects">
    <ul>
      <li>
        <span (click)="toggleShowDetails('allin')" class="info-projects material-symbols-outlined">
          help
        </span>
        <div class="details-projects" *ngIf="!showDetailsProject['allin']">
          <div class="content-info">
            <span>Repositorios:</span>
            <div class="repos">
              <p>Frontend: <a href="https://github.com/Brayanl0-o/AllInSite_Angular/tree/main" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
              <p>Backend: <a href="https://github.com/Brayanl0-o/AllInSite_API" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
            </div>
            <p>Año de desarrollo: <span class="date">2023-2024</span> </p>
          </div>
        </div>
        <a href="https://allin-six.vercel.app/home" target="_blank" class="link-proyecto">
          <span class="go-project material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </li>
      <li>
        <span (click)="toggleShowDetails('books_haven')" class="info-projects material-symbols-outlined">
          help
        </span>
        <div class="details-projects" *ngIf="showDetailsProject['books_haven']">
          <div class="content-info">
            <span>Repositorios:</span>
            <div class="repos">
              <p>Frontend: <a href="https://github.com/programateacademy/c9-pacto-front" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
              <p>Backend: <a href="https://github.com/programateacademy/c9-pacto-backend" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
            </div>
            <p>Año de desarrollo:<span class="date">2023</span> </p>
          </div>
        </div>
        <a href="https://github.com/programateacademy/c9-pacto-front" target="_blank" class="link-proyecto">
          <span class="go-project material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </li>
      <li>
        <span (click)="toggleShowDetails('pacto')" class="info-projects material-symbols-outlined">
          help
        </span>
        <div class="details-projects" *ngIf="showDetailsProject['pacto']">
          <div class="content-info">
            <span>Repositorios:</span>
            <div class="repos">
              <p>Frontend: <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
              <p>Backend: <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
            </div>
            <p>Año de desarrollo:<span class="date">2023-2024</span> </p>
          </div>
        </div>
        <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank" class="link-proyecto">
          <span class="go-project material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </li>
      <li>
        <span (click)="toggleShowDetails('winner_computers')" class="info-projects material-symbols-outlined">
          help
        </span>
        <div class="details-projects" *ngIf="showDetailsProject['winner_computers']">
          <div class="content-info">
            <span>Repositorios:</span>
            <div class="repos">
              <p>Frontend: <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
              <p>Backend: <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
            </div>
            <p>Año de desarrollo:<span class="date">2019</span> </p>
          </div>
        </div>
        <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank" class="link-proyecto">
          <span class="go-project material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </li>
      <li>
        <span (click)="toggleShowDetails('dezeer')" class="info-projects material-symbols-outlined">
          help
        </span>
        <div class="details-projects" *ngIf="showDetailsProject['dezeer']">
          <div class="content-info">
            <span>Repositorios:</span>
            <div class="repos">
              <p>Frontend: <a href="https://github.com/Brayanl0-o/deezerCopy" target="_blank"><img src="../../../assets/images/projects/repo-front.png" width="30" height="30" alt="Repositorio Frontend"></a></p>
              <p>Backend: <a href="No tiene." target="_blank"><img src="../../../assets/images/projects/repo-back.png" width="30" height="30" alt="Repositorio Backend"></a></p>
            </div>
            <p>Año de desarrollo:<span class="date">2023</span> </p>
          </div>
        </div>
        <a href="https://copy-deezer.netlify.app" target="_blank" class="link-proyecto">
          <span class="go-project material-symbols-outlined">
            arrow_forward
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- <section id="projects">


<a href="https://front.codes/" class="logo hover-target" target="_blank">
  <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
</a> -->
<!-- <div class="plane"><img src="../../../assets/images/general/avion2-removebg-preview.png" alt="planeImgBackground"></div> -->
