<span id="projects"></span>

<div class="section" >
  <h3 [@aparicion-titles-projects]="state_projects">Proyectos</h3>

  <div class="container" [@aparicion-images-projects]="state_projects">
    <div class="slider-height-padding">
      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
      <label for="slide-1"></label>
      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
      <label for="slider-2"></label>
      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
      <label for="slider-3"></label>
      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
      <label for="slider-4"></label>
      <input class="checkbox five" type="radio" name="slider" id="slider-5"/>
      <label for="slider-5"></label>
      <ul>
        <li>
          <a href="https://allin-six.vercel.app/home" target="_blank">
            <span> AllIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/programateacademy/c9-pacto-front" target="_blank">
            <span>Foro Pacto de Productividad</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Brayanl0-o/books_Haven" target="_blank">
            <span>Book's Haven</span>
          </a>
        </li>
        <li>
          <a href="https://drive.google.com/file/d/128J-V5EV3D_POzHY9tCuJPRfqVfjww9W/view?usp=sharing" target="_blank">
            <span>Winner Computers</span>
          </a>
        </li>
        <li>
          <a href="https://copy-deezer.netlify.app" target="_blank">
            <span>Deezer Copy</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <section id="projects">


<a href="https://front.codes/" class="logo hover-target" target="_blank">
  <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
</a> -->
<!-- <div class="plane"><img src="../../../assets/images/general/avion2-removebg-preview.png" alt="planeImgBackground"></div> -->
