.section{
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  height: 100vh;
}
.section>h3 {
  font-size: 3rem;
  text-align: center;
  color:#bdc3c7;
  margin: 0 0 8% 0;
}
.container-projects>ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.container-projects>ul>li{
  position: relative;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-color: blue;
  width: 400px;
  height: 250px;
  background-image: url('../../../assets/images/slider-images/referencesAllin/AllinHome.webp');
  border-radius: 10px;
  margin-bottom: 5%;
}

.container-projects>ul>a>li:nth-child(1){
  background-image: url('../../../assets/images/slider-images/referencesAllin/AllinHome.webp');
}
.container-projects>ul>li:nth-child(2){
  background-image: url('../../../assets/images/slider-images/referencesForoPacto/login.webp');
}
.container-projects>ul>li:nth-child(3){
  background-image: url('../../../assets/images/slider-images/referencesBooksHaven/BooksHavenHome.webp');
}
.container-projects>ul>li:nth-child(4){
  background-image: url('../../../assets/images/slider-images/winnerComputers.webp');
}
.container-projects>ul>li:nth-child(5){
  background-image: url('../../../assets/images/slider-images/deezerCopy.webp');
}
.info-projects,
.go-project{
  cursor: pointer;
  mix-blend-mode:difference;
  border-radius: 50px;
  background-color: rgba(90, 92, 90, 0.815);
  font-size: 2rem;
  position: absolute;
}
.info-projects{
  left:8px;
  top:1%;
  color: rgba(181, 199, 24, 0.911);
}
.go-project{
  right:8px;
  top: 80%;
  transition: ease-in all 1s forwads;
  font-weight: 900;
  color: rgba(14, 29, 236, 0.911);
  mix-blend-mode:normal;
}
.go-project:hover{
  transform: scale(1.1);
  background-color: rgba(240, 240, 240, 0.815);
}
.details-projects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: max-content;
  position: absolute;
  background-color: rgba(71, 69, 69, 0.911);
  color: white;
  left: 40px;
  top:4%;
  border-radius: 10px;
  padding: 10px;
}
.content-info>span{
  font-size: calc(0.8em + 0.8vw);
  font-weight: 800;
  color: black;
}
.repos{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: calc(0.8em + 0.4vw);
}
.repos>p>a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info>p{
  flex-flow: column;
  padding: 0;
  margin:0px;
  font-size: calc(0.8em + 0.4vw);
}
.content-info>p>span{
  color: rgba(20, 20, 233, 0.904);
  font-weight: 900;
  margin-left: 5px;
}

@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
