<!-- Nav big screens -->
<header>
  <nav class="elemento-flotante">
    <ul>
      <li><a href="#about">Sobre mí</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li class="logo">
        <a href="#about">
          <img src="../../../assets/images/general/5-removebg-preview-removebg-preview.webp"
            style="width: 3rem; margin: auto;" alt="Logo main">
        </a>
      </li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>

<!-- Nav small screens -->
<div class="container-wraper" >
  <div class="dropdown">
    <button (click)="toggleDropdown()" class="dropbtn">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#about"  (click)="toggleDropdown()" >Sobre mí</a>
      <a href="#projects" (click)="toggleDropdown()" >Proyectos</a>
      <a href="#skills" (click)="toggleDropdown()" >Habilidades</a>
      <a href="#contact" (click)="toggleDropdown()">Contacto</a>
    </div>
  </div>
</div>



