header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav>ul>li{
  transition: all 1.3s ease;
  background-color: rgba(102, 102, 102, 0.479);
  border-radius: 100%;
  padding: 5px;
}
nav>ul,
nav>ul>li>a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  background-color: none;
  list-style: none;
  color: rgb(221, 133, 19);
  gap: 2.5rem;
  padding: 10px 5px 5px 5px;
  font-size: 1.7rem;
  font-weight: 900;
}
nav>ul>li:hover {
  transition: background-color 0.3s, transform 1s;
  border-radius: 100%;
  transform: scale3d(1.2, 1.2, 4);
  background: linear-gradient(150deg, #00000000 10%, #69000000 59.37%, #16171bb9 100%);
  box-shadow: 10px 10px 10px #03043171;
}
.container-wraper{
  display:none;
  z-index: 100;
}
.dropdown {
  position: fixed;
  display: inline-block;
  top: 1%;
  right: 1%;
  z-index: 100;
}
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: #0709a8c4;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.dropbtn>.material-symbols-outlined{
  font-size: 2.5rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f1199e8;
  right: 30%;
  border-radius: 10px;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  text-decoration: none;
  display: block;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 12px 16px;
}
.dropdown-content a:last-child {
  border-bottom: 0px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.show {
  display: block;
}
/* Media querys */
@media(max-width: 1250px) {
  .container-wraper{
    display:flex;
  }
  nav {
    display: none;
  }
}

