.background-sup {
  background: url(../assets/images/general/2.webp);
  background-position: -950px -590px;
  padding: .1px;
  border-bottom: 1px solid white;
  width: 100%;
}
.background-mid-sup {
  background: linear-gradient(180deg, #010103 0%, #010103 50.02%, #000000 100%);
  border-bottom: 1px solid white;
}
.background-mid-low {
  position: relative;
  background: linear-gradient(180deg, #000000 0%, #020516 59.37%, #020516 100%);
  border-bottom:1px solid white;
}
.background-low {
  box-shadow: 0px -40px 40px #020516;
  background: url(../assets/images/general/video_game-half_life_2-alyx_vance-silhouette-431084.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1080px;
}
.contact-tool{
  z-index: 1000;
  position: fixed;
  bottom: 2%;
  right: 20px;
  cursor: pointer;
}
.material-symbols-outlined{
  font-size: calc(5em + 2vw);
  width: fit-content;
  height: fit-content;
  color: rgba(207, 105, 9, 0.87);
  mix-blend-mode: difference;
}
/* Media querys */
@media screen and (max-width:1680px) {
  .background-sup {
    background-position: -980px -680px;
  }
}
@media screen and (max-width:1520px) {
 .background-mid-sup {
    height: 140vh;
  }
}
@media screen and (max-width:1280px) {
  .background-sup {
    background-position: -980px -680px;
  }
}
@media screen and (max-width:1068px) {
  .background-mid-sup {
    height: 200vh;
  }
}
@media screen and (max-width:768px) {
  .background-sup {
    background-position: -980px -700px;
  }
}
@media screen and (max-width:468px) {
  .background-sup {
    background-position: -980px -750px;
  }
  .background-mid-sup {
    height: 180vh;
  }
}
