#cont-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
  width: 70%;
}
#cont-skills>h2 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 8%;
  color:#bdc3c7;
}
#cont-skills h3 {
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
  font-size: 1.6rem;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  margin:auto auto 5% auto;
  color: rgb(141, 81, 2);
}
.backend-frontend,
.databases-tools{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 45%;
}
.tools,
.frontend{
  margin-bottom:10%;
}
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around ;
  align-items: center;
  margin-top: 3%;
}
.images>img{
  box-sizing: border-box;
  transition: all 1s ease;
  animation: border-transform 19s linear infinite alternate forwards;
  animation-play-state: running;
  border-radius: 100%;
  background-color: #88888833;
  margin: 10px;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 3px solid #bdc3c7;
  transform: scale(1.1);
}
.images>img:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
  border: solid 1px rgb(0, 0, 172);
  background-color: #000000;
  transform:scale(1.2);
}
/* Animations */
@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
@keyframes aparicion{
  0%{opacity:0; transform:scale(0.2) ;}
  50%{opacity:0.5;}
  100%{opacity:1;transform:scale(1)}
}
/* Mediaq querys */
@media screen and (max-width:1500px){
  .tools{
    margin-bottom:25%;
  }
  .backend-frontend,
  .databases-tools{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    width: 45%;
  }
}
@media screen and (max-width:1000px){
  .images>img{
    margin: 10px;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
  }
}
@media (max-width: 798px) {
  #skills {
    flex-flow: column nowrap;
    padding: 10px;
  }
  #cont-skills>h2 {
    margin: 8% 0 8% 0;
    font-size: 2rem;
  }
  #cont-skills h3 {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }
  .images {
    justify-content: center;
  }
  .images>img{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
  }
}
@media(max-width: 580px) {
  .backend-frontend,
  .databases-tools{
    width: 100%;
  }
  .frontend,
  .backend,
  .tools{
    margin-bottom: 10%;
  }
  .images>img {
    padding: 5px;
    margin: 10px;
  }
  .images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around ;
    align-items: center;
    margin-top: 3%;
  }
}
