<span id="skills"></span>
<section id="cont-skills">
  <h2>Conocimientos y Herramientas</h2>
  <div class="backend-frontend">
    <div class="frontend">
      <h3>Frontend</h3>
      <div class="images">
        <img src="../../../assets/images/skills-icons/HTML-logo.png" alt="Logo de HTML5"
          title="HTML5">
        <img src="../../../assets/images/skills-icons/CSS-logo.png" alt="Logo de CSS" title="CSS">
        <img src="../../../assets/images/skills-icons/tailwind-logo.png" alt="Logo de TailwindCss" title="TailwindCss">
        <img src="../../../assets/images/skills-icons/sass-logo.png" alt="Logo de Sass" title="Sass">
        <img src="../../../assets/images/skills-icons/angular-logo.png" alt="Logo de Angular" title="Angular">
        <img src="../../../assets/images/skills-icons/JS-logo.png" alt="Logo de JavaScript" title="JavaScript">
        <img src="../../../assets/images/skills-icons/typescript-logo.png" alt="TypeScript" title="TypeScript">

        <!-- <div class="hidden-images" *ngIf="showFrontend">
          <img src="../../../assets/images/skills-icons/typescript-removebg-preview.png" alt="TypeScript"
            title="TypeScript">
          <img src="../../../assets/images/skills-icons/" alt="Dreamweaver" title="Dreamweaver">
          <img src="../../../assets/images/skills-icons/" alt="Ejs" title="Ejs">
        </div> -->
        <!-- <button (click)="toggleFrontend()">ver más</button> -->
      </div>
    </div>

    <div class="backend">
      <h3>Backend</h3>
      <div class="images">
        <img src="../../../assets/images/skills-icons/python-logo.png" alt="Logo de Python" title="Python">
        <img src="../../../assets/images/skills-icons/django-logo.png" alt="Logo de Django" title="Django">
        <img src="../../../assets/images/skills-icons/nodejs-logo.png" alt="Logo de NodeJS" title="Nodejs">
        <img src="../../../assets/images/skills-icons/express-js-logo.png" alt="Logo de express js" title="ExpressJs">
      </div>
    </div>
  </div>

  <div class="databases-tools">
    <div class="databases">
      <h3>Bases de datos</h3>
      <div class="images">
        <img src="../../../assets/images/skills-icons/mongo-logo.png"  alt="Logo de Mongo DB" title="MongoDB">
        <img src="../../../assets/images/skills-icons/sqlite_logo.png"  alt="Sqlite" title="Sqlite">
        <img src="../../../assets/images/skills-icons/mysql-logo.png" alt="MySQL" title="MySQL">
        <!-- <img src="../../../assets/images/skills-icons/phpMyAdmin-logo.png" alt="phpMyAdmin" title="phpMyAdmin"> -->
        <!-- <img src="../../../assets/images/skills-icons/"  alt="" title=""> -->

      </div>
    </div>

    <div class="tools">
      <h3>Herramientas</h3>
      <div class="images">
        <img src="../../../assets/images/skills-icons/visualstudio-logo.png"  alt="Visual Studio Code" title="Visual Studio Code">
        <img src="../../../assets/images/skills-icons/postman-logo.png"  alt="Postman" title="Postman">
        <img src="../../../assets/images/skills-icons/GitHub-removebg-preview.png" alt="GitHub" title="GitHub">
        <img src="../../../assets/images/skills-icons/virtualBox-logo.png" alt="VirtualBox" title="VirtualBox">
        <img src="../../../assets/images/skills-icons/microsoftOffice-logo.png" alt="Microsoft Office" title="Microsoft Office">
        <img src="../../../assets/images/skills-icons/PSeInt-logo.png" alt="PSeInt" title="PSeInt">

        <!-- <img src="../../../assets/images/Skills-icons/" alt="" title=""> -->
      </div>
    </div>
  </div>

</section>

