<section id="skills">
  <h2>>Habilidades</h2>
  <div class="back-front">
    <div class="backend">
      <h2>Backend</h2>
      <div class="images">
        <img src="../../../assets/images/Skills-icons/python.png " alt="Logo de Python" title="Python">
        <img src="../../../assets/images/Skills-icons/django.png " alt="Logo de Django" title="Django">
        <img src="../../../assets/images/Skills-icons/nodejs.png" alt="Logo de NodeJS" title="Nodejs">
        <img src="../../../assets/images/Skills-icons/mongo-54000b2b-removebg-preview.png" alt="Logo de Mongo DB"
          title="MongoDB">
        <div class="showSkills" *ngIf="showBackend">
          <img src="../../../assets/images/Skills-icons/php.png" alt="PHP" title="PHP">
          <img src="../../../assets/images/Skills-icons/mysql.png" alt="MySQL" title="MySQL">
          <img src="../../../assets/images/Skills-icons/phpMyAdmin.png" alt="phpMyAdmin" title="phpMyAdmin">
        </div>
      </div>
      <button (click)="toggleBackend()">ver más</button>
    </div>
    <div class="frontend">
      <h2>Frontend</h2>
      <div class="images">
        <img src="../../../assets/images/Skills-icons/HTML-4f5fd109-removebg-preview.png" alt="Logo de HTML5"
          title="HTML5">
        <img src="../../../assets/images/Skills-icons/CSS-84ecd9bd-removebg-preview.png " alt="Logo de CSS" title="CSS">
        <img src="../../../assets/images/Skills-icons/angular-icon-logo-5f4f2a1d-removebg-preview.png"
          alt="Logo de Angular" title="Angular">
        <img src="../../../assets/images/Skills-icons/JS-5c44a4db-removebg-preview.png" alt="Logo de JavaScript"
          title="JavaScript">
        <div class="showSkills" *ngIf="showFrontend">
          <img src="../../../assets/images/Skills-icons/typescript-removebg-preview.png" alt="TypeScript"
            title="TypeScript">
          <img src="../../../assets/images/Skills-icons/dreamweaver.png" alt="Dreamweaver" title="Dreamweaver">
          <img src="../../../assets/images/Skills-icons/ejs.png" alt="Ejs" title="Ejs">
        </div>
      </div>
      <button (click)="toggleFrontend()">ver más</button>
    </div>
  </div>
</section>